page-pedometer {
  .steps{
    margin-top: 25%
  }
  .backimage {
    background-image: url("../imgs/welcome1.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
